body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
  ont-family: 'Yanone Kaffeesatz', sans-serif;
}

.flex-container {
	display: flex;
}

.menu {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.menu.flex-container {
	justify-content: flex-start;
}

.logo-container {
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo {
	width: 70px;
	height: 70px;
}

#home {
	height: 600px;
	margin-top: 70px;
	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: whitesmoke;
}

.text-home {
	font-size: 2.4em;
}

#services {
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}
#services.flex-container {
	justify-content: space-around;
	flex-wrap: wrap;
}

.box-services {
	font-size: 1.2em;
	font-weight: bold;
}

.menu a {
  color: #373B47;
  text-decoration: none;
  padding: 21px;
}

#home a {
  color: white;
  text-decoration: none;	
}


a:hover {
  color: #E95853;
}

footer {
	background-color: #373b47;
	color: white;
	padding: 10px;
	text-align: center; 
}
